<div class="div_body_content">
    
    <hr>
    <h5><i class="fas fa-angle-right"></i>&nbsp;Atualizar Aplicação</h5>

    <div class="container-fluid bg-light p-3">
        {{#app}}
        <form class="needs-validation" action="/update-aplication" method="POST">
            <input type="hidden" name="codigo" value="{{codigo}}">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01">Nome da aplicação</label>
                    <input type="text" class="form-control" name="nameapp" id="validationDefault01" value="{{name}}" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationDefault02">URL</label>
                    <input type="text" class="form-control" name="urlapp" id="validationDefault02" value="{{URL}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault03">Descrição</label>
                    <textarea type="text" class="form-control" name="descricaoapp" id="validationDefault03" required>{{description}}</textarea>
                </div>
                <div class="col-md-3 mb-3">
                    <input type="hidden" name="lastlinguagemapp" value="{{app_language}}">
                    <label for="validationDefault04">Linguaguem</label>
                    <select class="custom-select" name="linguagemapp" id="validationDefault04" required>
                        <option selected="" value="{{app_language}}">{{app_language}}</option>
        {{/app}}
                        {{#linguagem}}
                        <option>{{name}}</option>
                        {{/linguagem}}
                    </select>
                </div>
            </div>
            <button class="btn btn-info" type="submit">Atualizar</button>
            <button class="btn btn-info" type="button" onClick="window.location='/';" >Cancelar</button>
        </form>
    </div>

</div>